/* basic */
.bg-main-color {
    background-color: var(--main-color);
}

/* hero */
.hero.container {
    padding-bottom: 20px;
    background-image: url(../img/background.jpg);
    background-size: cover;
    background-position: center
}
    .hero > .row-short {
        text-align: center;
    }
        .hero img {
            height: 150px;
            margin-bottom: var(--big-gap);
        }
        .hero h1 {
            display: inline-block;
            width: 100%;
            color: #000;
            font-size: 70px;
            line-height: 70px;
            text-transform: uppercase;
            font-weight: bold;
            margin-bottom: var(--gap);
        }
        .hero p {
            display: inline-block;
            width: 100%;
            color: rgb(255, 255, 255);
            font-size: 20px;
            line-height: 25px;
            margin-bottom: var(--big-gap);
        }
        .hero .clock {
            margin-bottom: var(--big-gap);
        }
        .hero .form {
            width: 80%;
            margin: 0 10% var(--gap);
        }
            .hero .form > .input {
                background-color: transparent;
                color: rgb(151, 151, 151);
                border-color: #fff;
            }

/* main */
/* main */
main h2 {
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 20px;
}
main p {
    font-size: 15px;
    line-height: 23px;
    color: #666;
    margin-bottom: 20px;
}
    main p a {
        color: var(--secondary-color);
        text-decoration: none;
    }
        main p > a:hover {
            text-decoration: underline;
        }

        main .form > button {
            float: right;
        }
        
/* footer */
footer.container {
    padding-top: 0;
    text-align: center;

}


footer > .row-long {
    padding: 10px 0;
    border-bottom: 1px solid rgb(196, 195, 195);
    margin-bottom: 20px;
}

footer .fa {
    color: rgb(31, 29, 29);
    font-size: 15x;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    line-height: 36px;
    /* border-radius: 25%; */
    text-decoration: none;

}

footer .fa:hover {
    background-color: #000;
    color: var(--main-color);
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer img {
    height: 30px;
    margin-bottom: 20px;
}
    footer p {
        display: inline-block;
        width: 100%;
        font-size: 17px;
        line-height: 25px;
        color: rgba(92, 92, 92, 0.8);
    }

    footer p a {
        color: #000;
        text-decoration: none;

    }

    footer p > span {
        /* padding: 10px; */
        padding: 0 10px;
        position: relative;
    }

    + elementas reiskia kad stilius pasinaudoja tik nuo antro elemento ir toliau. Jeigu + +, tai nuo 3 ir toliau, ir t.t
    footer p > span + span {
        /* border-left: 1px solid; */
    }

    /* kaip sukurti pagaliukus (pseudo elementas) footer'yje tarp elementu? */
    footer p > span + span::before {
        /* border-left: 1px solid; */

        /* Turi buti visi 4 parametrai apacioje ispildyti, kad atsirastu dizaino blokas  - content, display, height, width*/

        content: '';
        display: inline-block;
        height: 11px;
        width: 1px;
        background-color: rgb(146, 145, 145);
        margin: 0 10px 0 0
        /* Rimanto pavyzdys kaip padaryti vertikalius stulpelius
        top: 50%;
        left: -2px;
        position: absolute;
        transform: translateY(-50%); */

    }

    @media (max-width: 640px) {
        footer p > span {
            display: inline-block;
            width: 100%;
        }
            footer p > span + span::before {
                display: none;
            }
    
        .hero .form {
            width: 100%;
            margin: 0 0 var(--gap);
        }
    }
    
    @media (min-width: 1200px) {
        main .form > input.input {
            width: 47%;
            float: left;
        }
            main .form > input.input + input.input {
                margin-left: 6%;
            }
    }