:root {
    /* CSS gali tureti kintamuosius! */
    /* kintamieji css'e prasideda dviem --, tarpu tarp bruksniu pavadinime negali buti */
    --gap: 20px;
    --big-gap: calc(2.5 * var(--gap));
    --main-color:rgb(223, 220, 88) ;


}

/* gap: 20px
big-gap: 2.5 * gap */